@import "~reveal/index";
@import "~reveal/theme/night";

* { box-sizing: border-box; }
img { border: 0; }

.reveal {
  section {
    img {
      box-shadow: none;
      border: 0 none;
      background: none;
    }
    pre {
      box-shadow: none;
      background: transparent;
      code {
        max-height: inherit;
      }
    }
  }
}
